<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/guerreiros.css">
    <script src="/js/bootstrap.js"></script>
    <title>ERRO</title>
</head>

<body class="bg-light grade">
    <div class="container">
        <div class="text-center m-3">
            <h1>ERRO!</h1>
            <div class="text-decoration-none">
                <p>Ops... ocorreu um erro!</p>
            </div>
        </div>

        <div class="container rounded rounded-2 bg-transparence text-light">
            <div class="text-center">
                <p class="m-2">
                    Ocorreu um erro!, o CPF que foi informado no seu cadastro já está cadastrado! Caso não for você
                    entre em contato <strong>IMEDIATAMENTE</strong> em contato.
                </p>
                <div class="container p-3">

                    <img class="d-inline" src="/images/bootstrap-icons/whatsapp.svg" alt="Whatsapp">
                    <p class="d-inline">/</p>
                    <img class="d-inline" src="/images/bootstrap-icons/telephone.svg" alt="Telefone">
                    <p class="text-primary d-inline"><strong> +55 (11) 4623-2340</strong></p>
                    <br>

                </div>
            </div>
        </div>

    </div>
</body>

</html>