<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="css/helpdesk_css.css" />
  <script src="js/jquery-3.6.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>O.S. Helpdesk</title>
</head>

<body>
  <div class="negocio-box">
    <a href="">para o seu negócio? -> </a>
  </div>

  <div class="help-box">
    <h2>Helpdesk</h2>
    <h3>Pessoal</h3>
    <form action="php/enviar_osHelpdesk.php" method="post"></form>
  </div>
  <script></script>
</body>

</html>