<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/guerreiros.css">
  <title>Cadastre-se</title>
</head>

<body class="grade">
  <div class="container text-center m-4">
    <h2 class="h2">Cadastre-se</h2>
  </div>

  <div class="container bg-transparence">
    <form class="row g-3" action="/php/signin.php" method="post">
      <div class="input-group mb-3">
        <span class="input-group-text" for="nome">Nome</span>
        <input class="form-control" type="text" name="nome" id="nome" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="cpf">CPF</span>
        <input class="form-control" type="text" name="cpf" id="cpf" maxlength="14" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="rg">RG</span>
        <input class="form-control" type="text" name="rg" id="rg" maxlength="12" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="nascimento">Data de nascimento</span>
        <input class="form-control" type="text" name="nascimento" id="nascimento" maxlength="10" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="cep">CEP</span>
        <input class="form-control" type="text" name="cep" id="cep" maxlength="9" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="endereco">Endereço</span>
        <input class="form-control" type="text" name="endereco" id="endereco" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="endereco_numero">Número</span>
        <input class="form-control" type="number" name="endereco_numero" id="endereco_numero" required />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" for="complemento">Complemento</span>
        <input class="form-control" type="text" name="complemento" id="complemento" required />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" for="bairro">Bairro</span>
        <input class="form-control" type="text" name="bairro" id="bairro" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="cidade">Cidade</span>
        <input class="form-control" type="text" name="cidade" id="cidade" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="uf">UF: </span>
        <select class="form-select" id="uf" name="uf">
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AP">Amapá</option>
          <option value="AM">Amazonas</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espírito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MT">Mato Grosso</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MG">Minas Gerais</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PR">Paraná</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="SC">Santa Catarina</option>
          <option value="SP">São Paulo</option>
          <option value="SE">Sergipe</option>
          <option value="TO">Tocantins</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="telefone_fixo">Telefone Fixo (Opicional)</span>
        <input class="form-control" type="text" name="telefone_fixo" id="telefone_fixo" maxlength="13" />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="telefone_celular">Telefone Celular</span>
        <input class="form-control" type="text" name="telefone_celular" id="telefone_celular" maxlength="14" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="email">Email</span>
        <input class="form-control" type="email" name="email" id="email" required />
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" for="senha">Senha</span>
        <input class="form-control" type="password" name="senha" id="senha" maxlength="16" required />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" for="confirmar_senha">Confirmar a senha</span>
        <input class="form-control" type="password" name="confirmar_senha" id="confirmar_senha" maxlength="16"
          required />
      </div>
      <span id="mensagem_senha"></span>
  </div>

  <div class="container text-center m-4">
    <button class="btn btn-primary btn-lg" type="submit">Cadastrar-se</button>
  </div>
  </form>

  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script>
    $("#senha, #confirmar_senha").on("keyup", function () {
      if ($("#senha").val() == $("#confirmar_senha").val()) {
        $("#mensagem_senha")
          .html("As senhas coincidem")
          .css("color", "green");
      } else $("#mensagem_senha").html("As senhas não coincidem").css("color", "red");
    });

    /*
    Função abaixo serve para auto pontuar o CPF
    */
    const cpf = document.querySelector("#cpf");

    cpf.addEventListener("keyup", () => {
      let value = cpf.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{3})([\d]{3})?([\d]{3})?([\d]{2})?/, "$1.$2.$3-$4");

      cpf.value = value;
    });

    /*
    Função abaixo serve para auto pontuar o RG
    */
    const rg = document.querySelector("#rg");

    rg.addEventListener("keyup", () => {
      let value = rg.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{2})([\d]{3})?([\d]{3})?([\d]{2})?/, "$1.$2.$3-$4");

      rg.value = value;
    });

    /*
    Função abaixo serve para auto pontuar a data de Nascmineto
    */
    const nascimento = document.querySelector("#nascimento");

    nascimento.addEventListener("keyup", () => {
      let value = nascimento.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{2})([\d]{2})?([\d]{4})?/, "$1/$2/$3");

      nascimento.value = value;
    });

    /*
    Função abaixo serve para auto pontuar o Telefone Fixo
    */
    const telefone_fixo = document.querySelector("#telefone_fixo");

    telefone_fixo.addEventListener("keyup", () => {
      let value = telefone_fixo.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{2})([\d]{4})?([\d]{4})?/, "($1)$2-$3");

      telefone_fixo.value = value;
    });

    /*
    Função abaixo serve para auto pontuar o Telefone Celular
    */
    const telefone_celular = document.querySelector("#telefone_celular");

    telefone_celular.addEventListener("keyup", () => {
      let value = telefone_celular.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{2})([\d]{5})?([\d]{4})?/, "($1)$2-$3");

      telefone_celular.value = value;
    });

    /*
    Função abaixo serve para auto pontuar o CEP
    */
    const cep = document.querySelector("#cep");

    cep.addEventListener("keyup", () => {
      let value = cep.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{5})([\d]{3})?/, "$1-$2");

      cep.value = value;
    });

    /*
      Função abaixo serve para puxar dados da rua com o CEP
    */
    $("#cep").focusout(function () {
      $.ajax({
        url: "https://viacep.com.br/ws/" + $(this).val() + "/json/unicode/",
        dataType: "json",
        success: function (resposta) {
          $("#endereco").val(resposta.logradouro);
          $("#bairro").val(resposta.bairro);
          $("#cidade").val(resposta.localidade);
          $("#uf").val(resposta.uf);
          $("#endereco_numero").focus();
        },
      });
    });
  </script>
</body>

</html>