<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="/js/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/guerreiros.css">
  <title>O.S. Tablet</title>
</head>

<body class="container grade">
  <div class="container text-center m-4">
    <h2 class="h2">Tablet</h2>
    <div class="text-decoration">Criação de O.S. para o seu Tablet</div>
  </div>
  <div class="container bg-transparence text-light rounded rounded-2">

    <!-- iníco da FORM -->
    <form class="row g-3" action="/php/enviar_osTablet.php" method="POST">

      <!-- Textbox da marca -->
      <div class="input-group mb-3">
        <label class="input-group-text" for="marcaTablet">Marca</label>
        <input class="form-control" type="text" name="marcaTablet" id="marcaTablet" placeholder="Samsung, Apple"
          required />
        <datalist id="listMarcas">
          <option value="Samsung"></option>
          <option value="OAC"></option>
          <option value="Apple"></option>
          <option value="ASUS"></option>
          <option value="Bright"></option>
          <option value="CCE"></option>
          <option value="ACER"></option>
          <option value="Dell"></option>
          <option value="HP"></option>
          <option value="LG"></option>
          <option value="Multilaser"></option>
          <option value="Positivo"></option>
          <option value="Outros"></option>
        </datalist>
      </div>

      <!-- Textbox do modelo -->
      <div class="input-group mb-3">
        <span class="input-group-text" for="modelo">Modelo</span>
        <input class="form-control" type="text" name="modelo" id="modelo" placeholder="iPad 2 A1395/A1396/A1397"
          required />
      </div>

      <div class="container m-auto row">
        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="tela_display" value="tela_display" />
          <label class="form-check-label" for="tela_display">Tela display</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Touch_screen" value="Touch_screen" />
          <label class="form-check-label" for="Touch_screen">Touch screen</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Botões_mn" value="Botões_mn" />
          <label class="form-check-label" for="Botões_mn">Botões +/-</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Botao_pow" value="Botao_pow" />
          <label class="form-check-label" for="Botao_pow">Botão Power</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Bluetooth" value="Bluetooth" />
          <label class="form-check-label" for="Bluetooth">Bluetooth</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="WiFi" value="WiFi" />
          <label class="form-check-label" for="WiFi">Wi-Fi</label>
        </div>
        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Carcaca" value="Carcaça" />
          <label class="form-check-label" for="Carcaca">Carcaça</label>
        </div>
        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Alto_falante" value="Alto_falante" />
          <label class="form-check-label" for="Alto_falante">Alto falante</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Microfone" value="Microfone" />
          <label class="form-check-label" for="Microfone">Microfone</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Bateria" value="Bateria" />
          <label class="form-check-label" for="Bateria">Bateria</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Conector_carga"
            value="Conector_carga" />
          <label class="form-check-label" for="Conector_carga">Conector de carga</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Falante_auricular"
            value="Falante_auricular" />
          <label class="form-check-label" for="Falante_auricular">Falante auricular</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Camera_frontal"
            value="Camera_frontal" />
          <label class="form-check-label" for="Camera_frontal">Câmera frontal</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Tampa_traseira"
            value="Tampa_traseira" />
          <label class="form-check-label" for="Tampa_traseira">Tampa traseira</label>
        </div>

        <div class="form-check m-1 mb-2 col-md bg-transparence-light rounded rounded-2">
          <input class="form-check-input m-1" type="checkbox" name="check[]" id="Outros" value="Outros" />
          <label class="form-check-label" for="Outros">Outros</label>
        </div>
      </div>


      <!-- Textbox do EMEI -->
      <div class="input-group mb-3">
        <span class="input-group-text" for="emei">EMEI</span>
        <input class="form-control" type="text" name="emei" id="emei" maxlength="15" required />
      </div>

      <!-- Textarea de adicional do cliente -->
      <div class="input-group mb-3">
        <span class="input-group-text" for="Adicional">Adicional</span>
        <textarea class="form-control" type="text" name="Adicional" id="Adicional" rows="1" required></textarea>
      </div>

      <!-- Textbox do horario que ele quer a retirada -->
      <div class="input-group mb-3">
        <label class="input-group-text" for="hora">Hoario de retirada</label>
        <input class="form-control" type="text" name="hora" id="hora" required />
      </div>
  </div>

  <div class="text-center m-3">
    <input class="btn btn-primary btn-lg " type="submit" value="Enviar O.S.!" />
  </div>
  </form>

  <script>
    const hora = document.querySelector("#hora");

    hora.addEventListener("keyup", () => {
      let value = hora.value
        .replace(/[^0-9]/g, "")
        .replace(/^([\d]{2})([\d]{2})?/, "$1:$2");

      hora.value = value;
    });

    const emei = document.querySelector("#emei");

    emei.addEventListener("keyup", () => {
      let value = emei.value
        .replace(/[^0-9]/g, "")

      emei.value = value;
    });

    var marcas = [
      "Samsung",
      "Apple",
      "Sony",
      "Motorola"
    ];
    $("#marcaCelular").autocomplete({
      sorce: marcas
    });
  </script>
</body>

</html>