<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Serviços Guerreiros-Multi</title>
  </head>
  <body>
    <header class="m-3">
      <div class="container bg-transparence-light p-2 mc-3 rounded shadow">
        <nav
          class="nav nav-pills nav-fill"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          <a class="nav-link" href="index.html">Todos serviços</a>
          <a class="nav-link active" aria-current="page" href="#"
            >Criar serviço</a
          >
          <a class="nav-link" href="ViewServices.html">Visualizar serviços</a>
        </nav>
      </div>
    </header>

    <div class="container"></div>

    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
  </body>
</html>
