<div id="videogame" class="input-group mb-3">
  <span class="input-group-text">Marca</span>
  <input type="text" class="form-control" list="marcas_datalist" name="marca" id="marca_video" required />
  <span class="input-group-text">Modelo</span>
  <input type="text" class="form-control" name="modelo" id="modelo_video" required /><datalist id="marcas_datalist">
    <option value="MICROSOFT"></option>
    <option value="NINTENDO"></option>
    <option value="SONY"></option>
    <option value="OUTROS"></option>
  </datalist>
  <datalist id="sony_consoles">
    <option value="PS ONE"></option>
    <option value="PLAYSTATION 2 FAT"></option>
    <option value="PLAYSTATION 2 SLIM"></option>
    <option value="PLAYSTATION 3 FAT"></option>
    <option value="PLAYSTATION 3 SLIM"></option>
    <option value="PLAYSTATION 3 SUPER SLIM"></option>
    <option value="PLAYSTATION 4"></option>
    <option value="PLAYSTATION 4 SLIM"></option>
    <option value="PLAYSTATION 4 PRO"></option>
    <option value="PLAYSTATION 5"></option>
    <option value="PLAYSTATION 5 DIGITAL"></option>
  </datalist>
  <datalist id="ms_consoles">
    <option value="XBOX-360"></option>
    <option value="XBOX-360 CORE"></option>
    <option value="XBOX-360 ELITE"></option>
    <option value="XBOX-360 ARCADE"></option>
    <option value="XBOX-360 S"></option>
    <option value="XBOX-360 E"></option>
    <option value="XBOX-ONE"></option>
    <option value="XBOX-ONE ELITE"></option>
    <option value="XBOX-ONE S"></option>
    <option value="XBOX-ONE S DIGITAL"></option>
    <option value="XBOX-ONE X"></option>
    <option value="XBOX SERIES-X"></option>
    <option value="XBOX SERIES-S"></option>
  </datalist>
  <datalist id="nintendo_consoles">
    <option value="WII"></option>
    <option value="WII-U"></option>
    <option value="SWITCH"></option>
    <option value="SWITCH LITE"></option>
  </datalist>
  <script>
    $("#marca").blur(function () {
      let x = $(this).val();
      if (x == "MICROSOFT") {
        $("#modelo").appendTo('list="ms_consoles"');
      } else if (x == "NINTENDO") {
        $("#modelo").appendTo('list="nintendo_consoles"');
      } else if (x == "SONY") {
        $("#modelo").appendTo('list="sony_consoles"');
      } else if (x == "OUTROS") {
      }
    });
  </script>
</div>
