<!DOCTYPE html>
<!-- INICIO HEADER GERENTE -->
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/guerreiros.css" />
		<script src="/js/bootstrap.js"></script>
		<script src="/js/jquery-3.6.0.min.js"></script>
		<title>Serviços Guerreiros-Multi</title>
	</head>

	<body>
		<header class="m-3">
			<div class="container bg-transparence-light p-2 mc-3 rounded shadow">
				<nav class="nav nav-pills nav-fill" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					<a class="nav-link" href="index.php">Todos serviços</a>
					<a class="nav-link" href="CreateServico.php">Criar serviço</a>
					<a class="nav-link" href="ViewServices.php">Visualizar serviços</a>
				</nav>
			</div>
		</header>
		<!-- FIM HEADER GERENTE -->
